<h1><%= tumblr_anchor %></h1>
<div id="container">	
	<h1>All Users</h1>

	<% @users.each do |user| %>
		<div id="home_user">
			<p>User: <%= link_to user.name, user_path(user) %></p>
			<p>Age: <%= user.age %></p>
		</div>
	<% end %>
</div>
