<h1>All Posts</h1>

<% @posts.reverse.each do |post| %>
	<p>
		<div id= "test">
			<%= post.user.name %>
		</div>
		<strong>Post:</strong> <%= link_to post.body, post %> 
		| <strong>Created at:</strong> <%= post.created_at %>
	</p>
<% end %>