<h1>All Posts</h1>

<% @posts.reverse.each do |post| %>
	<p>
		<div id= "test">  <!-- <span> -->
			<%= post.user.name %>
		</div>
		<strong>Post:</strong> <%= post.body %> 
		| <strong>Created at:</strong> <%= post.created_at %>
		| <strong>User Comments:</strong> <%= post.comments %>
		<a href="/comments">Comment</a>
	</p>
<% end %>